{% block drupal_connector_widget %}
    <div id="myeml-drupal-connector">
        {%- set type = 'hidden' -%}
        {{ block('form_widget_simple') }}
    </div>
{% endblock drupal_connector_widget %}
