{% block drupal_connector_widget %}
    <div id="myeml-drupal-connector">
        {%- set type = 'hidden' -%}
        {{ block('form_widget_simple') }}
    </div>
    <script src="{{ asset('js/drupalconnector.js') }}" type="text/javascript"></script>
{% endblock drupal_connector_widget %}
