{% extends "layout.html.twig" %}

{%- block content -%}
    <div id="myeml"></div>
{%- endblock -%}

{%- block javascript -%}
    <script src="{{ asset('myeml.js') }}" type="text/javascript"></script>
{%- endblock -%}
